[submodule "plugins/biliav/nonebot_plugin_biliav"]
	path = plugins/biliav/nonebot_plugin_biliav
	url = https://github.com/nonebotjs/nonebot_plugin_biliav
[submodule "plugins/abbrreply/nonebot_plugin_abbrreply"]
	path = plugins/abbrreply/nonebot_plugin_abbrreply
	url = https://github.com/nonebotjs/nonebot_plugin_abbrreply
[submodule "plugins/songpicker2/nonebot_plugin_songpicker2"]
	path = plugins/songpicker2/nonebot_plugin_songpicker2
	url = https://github.com/nonebotjs/nonebot_plugin_songpicker2
[submodule "plugins/person/nonebot-plugin-person"]
	path = plugins/person/nonebot-plugin-person
	url = https://github.com/nonebotjs/nonebot-plugin-person
[submodule "plugins/abstract/nonebot-plugin-abstract"]
	path = plugins/abstract/nonebot-plugin-abstract
	url = https://github.com/nonebotjs/nonebot-plugin-abstract
[submodule "plugins/acc-calculate/nonebot-plugin-acc-calculate"]
	path = plugins/acc-calculate/nonebot-plugin-acc-calculate
	url = https://github.com/nonebotjs/nonebot-plugin-acc-calculate
[submodule "plugins/analysis-bilibili/nonebot_plugin_analysis_bilibili"]
	path = plugins/analysis-bilibili/nonebot_plugin_analysis_bilibili
	url = https://github.com/nonebotjs/nonebot_plugin_analysis_bilibili
[submodule "plugins/gscode/nonebot-plugin-gscode"]
	path = plugins/gscode/nonebot-plugin-gscode
	url = https://github.com/nonebotjs/nonebot-plugin-gscode
[submodule "plugins/trace-moe/nonebot_plugin_trace_moe"]
	path = plugins/trace-moe/nonebot_plugin_trace_moe
	url = https://github.com/nonebotjs/nonebot_plugin_trace_moe
[submodule "plugins/ygo/nonebot_plugin_ygo"]
	path = plugins/ygo/nonebot_plugin_ygo
	url = https://github.com/nonebotjs/nonebot_plugin_ygo
[submodule "plugins/ygo-trade/nonebot_plugin_ygo_trade"]
	path = plugins/ygo-trade/nonebot_plugin_ygo_trade
	url = https://github.com/nonebotjs/nonebot_plugin_ygo_trade
[submodule "plugins/code/nonebot_plugin_code"]
	path = plugins/code/nonebot_plugin_code
	url = https://github.com/nonebotjs/nonebot_plugin_code
[submodule "plugins/weather-lite/nonebot_plugin_weather_lite"]
	path = plugins/weather-lite/nonebot_plugin_weather_lite
	url = https://github.com/nonebotjs/nonebot_plugin_weather_lite
[submodule "plugins/warframe/nonebot-plugin-warframe"]
	path = plugins/warframe/nonebot-plugin-warframe
	url = https://github.com/nonebotjs/nonebot-plugin-warframe
[submodule "plugins/bottle/nonebot_plugin_bottle"]
	path = plugins/bottle/nonebot_plugin_bottle
	url = https://github.com/nonebotjs/nonebot_plugin_bottle
[submodule "plugins/crazy-thursday/nonebot_plugin_crazy_thursday"]
	path = plugins/crazy-thursday/nonebot_plugin_crazy_thursday
	url = https://github.com/nonebotjs/nonebot_plugin_crazy_thursday
[submodule "plugins/bnhhsh/nonebot-plugin-bnhhsh"]
	path = plugins/bnhhsh/nonebot-plugin-bnhhsh
	url = https://github.com/nonebotjs/nonebot-plugin-bnhhsh
[submodule "plugins/today-in-history/nonebot-plugin-today-in-history"]
	path = plugins/today-in-history/nonebot-plugin-today-in-history
	url = https://github.com/nonebotjs/nonebot-plugin-today-in-history
[submodule "plugins/simplemusic/nonebot-plugin-simplemusic"]
	path = plugins/simplemusic/nonebot-plugin-simplemusic
	url = https://github.com/nonebotjs/nonebot-plugin-simplemusic
[submodule "plugins/workscore/nonebot_plugin_workscore"]
	path = plugins/workscore/nonebot_plugin_workscore
	url = https://github.com/nonebotjs/nonebot_plugin_workscore
[submodule "plugins/yulu/nonebot-plugin-yulu"]
	path = plugins/yulu/nonebot-plugin-yulu
	url = https://github.com/nonebotjs/nonebot-plugin-yulu
[submodule "plugins/alipayvoice/nonebot-plugin-alipayvoice"]
	path = plugins/alipayvoice/nonebot-plugin-alipayvoice
	url = https://github.com/nonebotjs/nonebot-plugin-alipayvoice
[submodule "plugins/idiom/nonebot_plugin_idiom"]
	path = plugins/idiom/nonebot_plugin_idiom
	url = https://github.com/nonebotjs/nonebot_plugin_idiom
[submodule "plugins/jrrp/nonebot_plugin_jrrp"]
	path = plugins/jrrp/nonebot_plugin_jrrp
	url = https://github.com/nonebotjs/nonebot_plugin_jrrp
[submodule "plugins/reborn/nonebot_plugin_reborn"]
	path = plugins/reborn/nonebot_plugin_reborn
	url = https://github.com/nonebotjs/nonebot_plugin_reborn
[submodule "plugins/maze/nonebot_plugin_maze"]
	path = plugins/maze/nonebot_plugin_maze
	url = https://github.com/nonebotjs/nonebot_plugin_maze
[submodule "plugins/antiinsult/nonebot-plugin-antiinsult"]
	path = plugins/antiinsult/nonebot-plugin-antiinsult
	url = https://github.com/nonebotjs/nonebot-plugin-antiinsult
[submodule "plugins/animeres/nonebot_plugin_animeres"]
	path = plugins/animeres/nonebot_plugin_animeres
	url = https://github.com/nonebotjs/nonebot_plugin_animeres
[submodule "plugins/baidutranslate/nonebot_plugin_baidutranslate"]
	path = plugins/baidutranslate/nonebot_plugin_baidutranslate
	url = https://github.com/nonebotjs/nonebot_plugin_baidutranslate
[submodule "plugins/cybersensoji/nonebot_plugin_cybersensoji"]
	path = plugins/cybersensoji/nonebot_plugin_cybersensoji
	url = https://github.com/nonebotjs/nonebot_plugin_cybersensoji
[submodule "plugins/draw/nonebot_plugin_draw"]
	path = plugins/draw/nonebot_plugin_draw
	url = https://github.com/nonebotjs/nonebot_plugin_draw
[submodule "plugins/heisi/nonebot_plugin_heisi"]
	path = plugins/heisi/nonebot_plugin_heisi
	url = https://github.com/nonebotjs/nonebot_plugin_heisi
[submodule "plugins/bittorrent/nonebot_plugin_bittorrent"]
	path = plugins/bittorrent/nonebot_plugin_bittorrent
	url = https://github.com/nonebotjs/nonebot_plugin_bittorrent
[submodule "plugins/blackjack/nonebot-plugin-blackjack"]
	path = plugins/blackjack/nonebot-plugin-blackjack
	url = https://github.com/nonebotjs/nonebot-plugin-blackjack
[submodule "plugins/cartoon/nonebot-plugin-cartoon"]
	path = plugins/cartoon/nonebot-plugin-cartoon
	url = https://github.com/nonebotjs/nonebot-plugin-cartoon
[submodule "plugins/phlogo/nonebot-plugin-phlogo"]
	path = plugins/phlogo/nonebot-plugin-phlogo
	url = https://github.com/nonebotjs/nonebot-plugin-phlogo
[submodule "plugins/minesweeper/nonebot-plugin-minesweeper"]
	path = plugins/minesweeper/nonebot-plugin-minesweeper
	url = https://github.com/nonebotjs/nonebot-plugin-minesweeper
[submodule "plugins/russian-ban/nonebot_plugin_russian_ban"]
	path = plugins/russian-ban/nonebot_plugin_russian_ban
	url = https://github.com/nonebotjs/nonebot_plugin_russian_ban
[submodule "plugins/randomtkk/nonebot_plugin_randomtkk"]
	path = plugins/randomtkk/nonebot_plugin_randomtkk
	url = https://github.com/nonebotjs/nonebot_plugin_randomtkk
[submodule "plugins/tarot/nonebot_plugin_tarot"]
	path = plugins/tarot/nonebot_plugin_tarot
	url = https://github.com/nonebotjs/nonebot_plugin_tarot
[submodule "plugins/htmlrender/nonebot-plugin-htmlrender"]
	path = plugins/htmlrender/nonebot-plugin-htmlrender
	url = https://github.com/nonebotjs/nonebot-plugin-htmlrender
[submodule "plugins/vf/nonebot-plugin-vf"]
	path = plugins/vf/nonebot-plugin-vf
	url = https://github.com/nonebotjs/nonebot-plugin-vf
[submodule "plugins/wordsnorote/nonebot_plugin_wordsnorote"]
	path = plugins/wordsnorote/nonebot_plugin_wordsnorote
	url = https://github.com/nonebotjs/nonebot_plugin_wordsnorote
[submodule "plugins/apscheduler/nonebot-plugin-apscheduler"]
	path = plugins/apscheduler/nonebot-plugin-apscheduler
	url = https://github.com/nonebotjs/nonebot-plugin-apscheduler
[submodule "plugins/localstore/nonebot-plugin-localstore"]
	path = plugins/localstore/nonebot-plugin-localstore
	url = https://github.com/nonebotjs/nonebot-plugin-localstore
[submodule "plugins/bawiki/nonebot-plugin-bawiki"]
	path = plugins/bawiki/nonebot-plugin-bawiki
	url = https://github.com/nonebotjs/nonebot-plugin-bawiki
[submodule "plugins/ddcheck/nonebot-plugin-ddcheck"]
	path = plugins/ddcheck/nonebot-plugin-ddcheck
	url = https://github.com/nonebotjs/nonebot-plugin-ddcheck
