[submodule "plugins/biliav/nonebot_plugin_biliav"]
	path = plugins/biliav/nonebot_plugin_biliav
	url = https://github.com/nonebotjs/nonebot_plugin_biliav
[submodule "plugins/abbrreply/nonebot_plugin_abbrreply"]
	path = plugins/abbrreply/nonebot_plugin_abbrreply
	url = https://github.com/nonebotjs/nonebot_plugin_abbrreply
[submodule "plugins/songpicker2/nonebot_plugin_songpicker2"]
	path = plugins/songpicker2/nonebot_plugin_songpicker2
	url = https://github.com/nonebotjs/nonebot_plugin_songpicker2
[submodule "plugins/person/nonebot-plugin-person"]
	path = plugins/person/nonebot-plugin-person
	url = https://github.com/nonebotjs/nonebot-plugin-person
[submodule "plugins/abstract/nonebot-plugin-abstract"]
	path = plugins/abstract/nonebot-plugin-abstract
	url = https://github.com/nonebotjs/nonebot-plugin-abstract
[submodule "plugins/acc-calculate/nonebot-plugin-acc-calculate"]
	path = plugins/acc-calculate/nonebot-plugin-acc-calculate
	url = https://github.com/nonebotjs/nonebot-plugin-acc-calculate
[submodule "plugins/analysis-bilibili/nonebot_plugin_analysis_bilibili"]
	path = plugins/analysis-bilibili/nonebot_plugin_analysis_bilibili
	url = https://github.com/nonebotjs/nonebot_plugin_analysis_bilibili
[submodule "plugins/gscode/nonebot-plugin-gscode"]
	path = plugins/gscode/nonebot-plugin-gscode
	url = https://github.com/nonebotjs/nonebot-plugin-gscode
[submodule "plugins/trace-moe/nonebot_plugin_trace_moe"]
	path = plugins/trace-moe/nonebot_plugin_trace_moe
	url = https://github.com/nonebotjs/nonebot_plugin_trace_moe
[submodule "plugins/ygo/nonebot_plugin_ygo"]
	path = plugins/ygo/nonebot_plugin_ygo
	url = https://github.com/nonebotjs/nonebot_plugin_ygo
[submodule "plugins/ygo-trade/nonebot_plugin_ygo_trade"]
	path = plugins/ygo-trade/nonebot_plugin_ygo_trade
	url = https://github.com/nonebotjs/nonebot_plugin_ygo_trade
[submodule "plugins/code/nonebot_plugin_code"]
	path = plugins/code/nonebot_plugin_code
	url = https://github.com/nonebotjs/nonebot_plugin_code
[submodule "plugins/weather-lite/nonebot_plugin_weather_lite"]
	path = plugins/weather-lite/nonebot_plugin_weather_lite
	url = https://github.com/nonebotjs/nonebot_plugin_weather_lite
